
<div class="container-fluid text-center">
<h2>Doctors record List</h2>
<table class="table" border="2">
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Specialization</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile No.</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctors; let i=index">
        <td> {{i+1}} </td>
        <th scope="row">{{doctor.id}}</th>
        <td>{{doctor.name}}</td>
        <td>{{doctor.specialization}}</td>
        <td>{{doctor.email}}</td>
        <td>{{doctor.mobileNo}}</td>
        <td>
          <a type="button" class="btn btn-success" routerLink="/viewDoctor/{{doctor.id}}">View</a>&nbsp;
          <a type="button" class="btn btn-secondary" routerLink="/updateDoctor/{{doctor.id}}">Update</a>&nbsp;
          <button type="button" class="btn btn-danger" (click)="delete(doctor.id)">Delete</button>&nbsp;
  
        </td>
      </tr>
     
    </tbody>
  </table>
</div>
