
<div class="container w-50">
<h2>View Doctors Record</h2>
<div class="card">
    <div class="card-body">
      <p class="card-title">Doctor's ID: {{doctor.id}} </p>
      <p class="card-text">Doctor's Name: {{doctor.name}} </p>
      <p class="card-text">Doctor's specialization: {{doctor.specialization}} </p>
      <p class="card-text">Doctor's email: {{doctor.email}} </p>
      <p class="card-text">Doctor's moblieNo: {{doctor.moblieNo}} </p>
      <a routerLink="/doctorsList" class="btn btn-primary">Go to Doctors Record List</a>
    </div>
  </div>
</div>