
<div class="container w-50">
<h2>View Patients Record</h2>
<div class="card">
    <div class="card-body">
      <p class="card-text">Parient's ID: {{patient.id}} </p>
      <p class="card-text">Patient's Name: {{patient.name}} </p>
      <p class="card-text">Patient's Age: {{patient.age}} </p>
      <p class="card-text">Patient's mobileNo: {{patient.mobileNo}} </p>
      <p class="card-text">Patient's Address: {{patient.address}} </p>
      <p class="card-text">Patient's Gender: {{patient.gender}} </p>
      <p class="card-text">Patient's Blood Group: {{patient.bloodGroup}} </p>
      <p class="card-text">Patient's disease: {{patient.disease}} </p>
      <p class="card-text">Patient's Fees: {{patient.fees}} </p>
      <a routerLink="/patientsList" class="btn btn-primary">Go to Patients record List</a>
    </div>
  </div>
</div>