<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 

<div class="social-box">
    <div class="container">
		<h3>Our Services</h3>
     	<div class="row">
		    <div class="col-lg-4 col-xs-12 text-center">
				<div class="box">
                    
					<div class="box-title">
						<h3>Primary Health Care</h3>
					</div>
					<div class="box-text">
						<span>The ultimate goal of primary health care is better health for all.The aim is to provide an easily accessible route to care, whatever the patient's problem.</span>
					</div>
					<div class="box-btn">
					    
					</div>
				 </div>
			</div>	 
			
			<div class="col-lg-4 col-xs-12 text-center">
				<div class="box">
                    
					<div class="box-title">
						<h3>Critical Care</h3>
					</div>
					<div class="box-text">
						<span>Our hospitals have specialized critical care areas as per the specialty requirements. These areas also have support of the super specialists.</span>
					</div>
					<div class="box-btn">
					    
					</div>
				 </div>
			</div> 
			
			<div class="col-lg-4 col-xs-12 text-center">
				<div class="box">
                    
					<div class="box-title">
						<h3>Modern Medical Lab</h3>
					</div>
					<div class="box-text">
					<span>Our Hospital offers patients the best in diagnostic care without diverting their focus from core healthcare services. By sparing them the effort to manage yet another department.</span>
					</div>
					<div class="box-btn">
					    
					</div>
				 </div>
			</div> 
			
			<div class="col-lg-4 col-xs-12 text-center">
				<div class="box">
                    
					<div class="box-title">
						<h3>Medicine</h3>
					</div>
					<div class="box-text">
						<span>A medical specialty dedicated to the delivery of comprehensive medical care to hospitalized patients, it is a new standard of excellence by delivering care to high-complexity patients.</span>
					</div>
					<div class="box-btn">
					    
					</div>
				 </div>
			</div>  
			
			<div class="col-lg-4 col-xs-12 text-center">
				<div class="box">
                    
					<div class="box-title">
						<h3>Ortho</h3>
					</div>
					<div class="box-text">
<span>Our Hospital offering the latest in Orthopedic treatments and Orthopedic surgical advancements in Lucknow. Our Orthopedicians are trained, dedicated & well equipped Orthopedic surgery complexes</span>
					</div>
					<div class="box-btn">
					    
					</div>
				 </div>
			</div>   
			
			<div class="col-lg-4 col-xs-12 text-center">
				<div class="box">
                    
					<div class="box-title">
						<h3>TB & Chest</h3>
					</div>
					<div class="box-text">
<span>Our Hospital specializes in providing advanced pulmonary care to a variety of patients, including the critically-ill and hospitalized patients requiring ventilators.	</span>					</div>
					<div class="box-btn">
					    
					</div>
				 </div>
			</div>
		</div>		
    </div>
</div>